@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap');
:root{
    --bg-btn: #7349FF;
    --white:  #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(43deg,#00000099 70%,#1f1f1f59 94%),
    url(https://i.pinimg.com/originals/21/9a/09/219a09d5c2d9e50e4c2d20c9a03e09af.gif);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section{
    display: flex;
    justify-content: space-around;
}

form{
    background: #ffffff1a;
    backdrop-filter: blur(10px);
    padding: 3em;
    border-radius: 10px;
    margin: 5em;
}

.title{
    color: var(--white);
    text-align: center;
    font-weight: normal;
    font-size: 35px;
}
.subtitle{
    color: #B0B0B0;
    text-align: center;
    margin: 1.5em 0;
}

label{
    color: var(--white);
    font-weight: 300;
    font-size: 18px
}

input{
    display: block;
    background: #ffffff36;
    border: none;
    border-radius: 10px;
    padding: 12px;
    width: 100%;
    margin: 17px 0;
}


.btn-func{
    background: var(--bg-btn);
    padding: 15px;
    border: none;
    border-radius: 8px;
    margin: 5px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
}

i{
    color: var(--white);
    font-size: 26px;
}